# Global owners
* @Stirge-Team/Programmers

# Camera scripts
Assets/Scripts/Camera/ @SkeleKing04

# Player scripts
Assets/Scripts/Player/ @SkeleKing04

# AI
Assets/Scripts/AI/ @halenf

# Combat
Assets/Scripts/Combat/ @halenf

# Enemy
Assets/Scripts/Enemy/ @halenf

# Input
Assets/Scripts/Input/ @halenf

# (Unused) Behaviour Tree
Assets/Scripts/BehaviourTree/ @halenf

# Halen testing scenes
Assets/Scenes/\[Halen testing\]/ @halenf
