# Global owners
* @Stirge-Team/Programmers

# General scripts
Assets/Scripts/ @Stirge-Team/Programmers

# Camera scripts
Assets/Scripts/Camera/ @SkeleKing04

# Player scripts
Assets/Scripts/Player/ @SkeleKing04

# AI
Assets/Scripts/AI/ @halenf

# Combat
Assets/Scripts/Combat/ @halenf

# Enemy
Assets/Scripts/Enemy/ @halenf

# Input
Assets/Scripts/Input/ @halenf

# Sound
Assets/Scripts/Sound/ @halenf

# Scene management
Assets/Scripts/Management/ @halenf @Skeleking04

# (Unused) Behaviour Tree
Assets/Scripts/BehaviourTree/ @halenf

# Art Assets
Assets/Art/ @Stirge-Team/Artists

# Halen testing scenes
Assets/Scenes/\[Halen testing]/ @halenf
