# Global owners
* @Stirge-Team/Programmers

# Camera scripts
Assets/Scripts/Camera/ @SkeleKing04

# AI
Assets/Scripts/AI/ @halenf

# Enemy
Assets/Scripts/Enemy/ @halenf

# Input
Assets/Scripts/Input/ @halenf

# (Unused) Behaviour Tree
Assets/Scripts/BehaviourTree/ @halenf